# Jupyter Notebook
.ipynb_checkpoints
.venv
.env
wandb/
datasets/
__pycache__/


results/
logs/
patches/
.data/
model_cache/

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore other common VSCode user-data directories
.vscode/user-data/
.vscode/.history/